#CalenderBody {
  display: flex;
  /* margin-top: 50px; */
  justify-content: flex-start;
  background-color: #FFFCFF;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 0px;
  color: #d36c6c;
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color:#92a1d1;
}
#Ccontainer {
  width: 770px;
  justify-items: center;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}
#weekdays div {
  width: 120px;
  padding: 10px;
}
#calendar ,#calendar1{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  color: #e458e4;
}
.counnt{
  color: black;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color:#e6eef8;
}
.eventSquare {
  width: 100%;
  /* height: 100%; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.event1 {
  max-width: 10px;
  font-size: 10px;
  padding: 10px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 10px;
  overflow: hidden;
  justify-items: left;
}
.event2 {
  font-size: 10px;
  max-width: 10px;
  padding: 10px;
  background-color: #58e497;
  color: white;
  border-radius: 5px;
  max-height: 10px;
  overflow: hidden;
  justify-items: left;
}
.event3 {
  font-size: 10px;
  max-width: 10px;
  padding: 10px;
  background-color: #e458e4;
  color: white;
  border-radius: 5px;
  max-height: 10px;
  overflow: hidden;
  justify-items: left;
}
.event4 {
  font-size: 10px;
  max-width: 10px;
  padding: 10px;
  background-color: #e45858;
  color: white;
  border-radius: 5px;
  max-height: 10px;
  overflow: hidden;
  justify-items: left;
}
.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}
#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}

.donationList{
  /* background-color: #921492; */
  margin: 10px;
  width: 100%;
}

.donationHeader{
  /* background-color: #3c9214; */
  display: flex;
}

.donationListBody{
  overflow-y: scroll;
  margin: 10px;
  height: 650px;
}

.ListBodyTopic{
  display: flex;
}